@use 'stars.scss';
@use 'header.scss';
@use 'timeline.scss';
@use 'skills.scss';
@use 'projects.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

/* $background-content: #00000050; */
$background-content: none;

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background: radial-gradient(ellipse, #0d1d31 10%, #000000 100%);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.content h2 {
  font-size: 38px;
  margin-bottom:20px;
  font-weight: 300;
}

.name {
  font-size: 60px;
}

.role {
  font-size: 30px;
  font-weight: 400;
  color: #61dafb;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #fff;
}

a {
  font-family: 'Work Sans', sans-serif;
}

.container {
  width: 1280px;
  max-width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 100px;
}

main {
  width: 100%;
  background-color: $background-content;
  overflow: auto;
  color: #fff;
  padding-right: 20px;
}

section {
  padding-top: 120px;
  min-height: 100vh;
}

.content {
  padding-bottom: 120px;
  scrollbar-width: none;
}

.button {
  background-color:#61dafb;
  color:#000;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

form {
  font-family: 'Work Sans', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: #fff;
}

input, textarea {
  padding: 15px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 10px;
}

input:hover, input:focus, input:target, input:active {
  border-color: #61dafb;
}

input[type="textarea"] {
  vertical-align:text-top;
}

input[type="submit"] {
  background-color: #61dafb;
  padding: 15px;
  text-align:center;
  font-family: 'Work Sans', sans-serif;
  border: none;
  font-size: 16px;
  color: #000;
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.9;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb {
  display: none;
}

.fade {
  mask-image: linear-gradient(
    180deg,
    transparent 5%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    transparent 95%
  );
}

.error404, .adminpage {
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-title {
  font-size: 180px;
}

.error-text {
  color: #fff;
}

.error-link {
  font-family: 'Work Sans', sans-serif;
  color: #fff;
}

.error-link:hover {
  color: #61dafb;
}

.admin-container {
  display: flex;
  gap: 50px;
}

.admin-form {
  display: flex;
  flex-direction:column;
  gap:15px;
}

.icon {
  font-size:86px;
  color: #fff;
  opacity: 0.7;
}

.icon:hover {
  color: #61dafb;
  cursor:pointer;
}