@use 'stars.scss';
@use 'header.scss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

/* $background-content: #00000050; */
$background-content: none;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background: radial-gradient(ellipse, #0d1d31 10%, #0c0d13 100%);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.name {
    font-size: 60px;
}

.role {
    font-size: 30px;
    font-weight: 400;
    color: #999;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 1280px;
  max-width: 90%;
  height: calc(100vh - 240px);
  display: flex;
  flex-direction: row;
  margin: 120px auto;
  gap: 100px;
}

main {
  width: 100%;
  background-color: $background-content;
  overflow: auto;
  color: #fff;
  padding-right:20px;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track-piece {
  background: #0c0d13;
}
::-webkit-scrollbar-thumb {
  background: #61dafb;
}
