@use 'stars.scss';

/* $background-content: #00000050; */
$background-content: none;

* {
    box-sizing:border-box;
    margin: 0;
}

body {
    height: 100vh;
    background: radial-gradient(ellipse, #0d1d31 10%, #0c0d13 100%);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

.container {
    width: 1280px;
    max-width:90%;
    height: calc(100vh - 240px);
    display: flex;
    flex-direction: row;
    margin: 120px auto;
    gap: 100px;
}

header {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: $background-content;
   gap: 50px;
   flex-basis: 50%;
}

nav {
    color:#fff;
}

nav ul {
    list-style:none;
    padding:0;
}

.social {
    margin-top: auto;
    display:flex;
    gap: 20px;
}

.socialIcon {
    font-size:30px;
    color: #ffffff70;
}

.socialIcon:hover {
    color: #ffffff;
    cursor: pointer;
}

main {
    width: 100%;
    background-color: $background-content;
    overflow: auto;
    color: #fff;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track-piece {
    background:#0c0d13;
}
::-webkit-scrollbar-thumb {
    background: #61DAFB;
}

